.facebook{
    color: grey} 
    .facebook:visited {color:grey} 
    .facebook:hover {color:#3B5998} 
.youtube{
    color: grey}
.youtube:visited{color: grey;}
.youtube:hover{color: red;}
.insta{
    color: grey}
    .insta:visited {color: grey;}
    .insta:hover {color:#2C6A93}
.pint{
    color: grey}
    .pint:visited {color:grey ;}
    .pint:hover{color: rgb(130, 0, 61);}